@import url("normalize.css");


/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

body {
    background-color: #2e4159;
}

img,
iframe {
    max-width: 100%;
}

/* -------------------- HEADINGS AND TYPE */

h1 {
    color: #91b7d9;
}

h2 {
    color: #f2f2f2;
}

/* -------------------- LAYOUTS */

.layout-wide {
    background-color: #4e7da6;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */