@import url("normalize.css");


/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

body {
    background-color: #3D4F73;
}

img,
iframe,
video {
    max-width: 100%;
}

/* -------------------- HEADINGS AND TYPE */

h1 {
    color: #394759;
}

h2 {
    color: #F2F2F2;
}

p {
    color: #394759;
}

/* -------------------- LAYOUTS */

.layout-wide {
    background-color: #95AFBF;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;

}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */